<div *ngIf="err" class="alert alert-danger m-auto text-center">{{err}}</div>

<form [formGroup]="loginForm" class="w-50 m-auto py-4 mt-5 " (ngSubmit)="submitForm(loginForm)">


    <div class="formGroup">
        <label>E-mail</label>
        <input [class.is-invalid]='loginForm.controls[ "email"].invalid == true && loginForm.controls[ "email"].touched == true ' [class.is-valid]='loginForm.controls[ "email"].invalid == false && loginForm.controls[ "email"].touched == true ' type="email" formControlName="email"
            class="form-control">
        <span class="m-3 p-2 text-danger d-block" *ngIf='loginForm.controls["email"].invalid == true &&loginForm.controls["email"].touched == true '>email is not valid</span>
    </div>

    <div class="formGroup">
        <label>password:</label>
        <input [class.is-invalid]='loginForm.controls[ "password"].invalid == true && loginForm.controls[ "password"].touched == true ' [class.is-valid]='loginForm.controls[ "password"].invalid == false && loginForm.controls[ "password"].touched == true ' type="password"
            formControlName="password" class="form-control">
        <span class="m-3 p-2 text-danger d-block" *ngIf='loginForm.controls[ "password"].invalid==true && loginForm.controls[ "password"].touched==true '>password is not valid</span>
    </div>
    <a class="text-light" routerLink="/register">register ??</a>
    <div class="formGroup mt-3">
        <button class="btn btn-primary " [disabled]="loginForm.invalid == true" type="submit">login</button>
    </div>
</form>